<!DOCTYPE html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      Armed: <div id="armedTag">{{armed}}</div>
      <br>
    Sensing:<div id="sensingTag">{{is_sensing}}</div>
      <br>
    LED Enabled:<div id="ledEnabledTag">{{led_enabled}}</div>
      <br>
    LED Color: <div id="ledColorTag">{{led_color}}</div>
    </p>
    
  <!-- Toggle switch for armed and disarmed -->
  <input id="toggle-arm_disarm" type="checkbox" class='toggle' onchange="arm_disarm()" checked data-toggle="toggle" data-on="Armed" data-off="Disarmed" data-onstyle="success">
  <script>
    $(function () {
      let is_armed = '{{armed}}';
      if(is_armed === "True") {
        $("#toggle-arm_disarm").bootstrapToggle('on')
      }else{
        $("#toggle-arm_disarm").bootstrapToggle('off')
      }
    })
  </script>
    <script src="{{ url_for('static', filename='js/status.js') }}"></script>
  <!-- Display the live view without getting redirected to another page -->
    
  <!-- Button for google calendar -->
    <br>
    <br>
    <p>Google Calendar</p>
    <form action="https://calendar.google.com/calendar/b/5?cid=ZmF1Y2VuNTAzNUBnbWFpbC5jb20" method="get" target="_blank">
      <button type="submit">Google Calendar</button>
    </form>
  <!-- Button for Watson Service -->
    <br>
    <br>
    <p>Watson Service</p>
    <form action="https://4j9rx2.internetofthings.ibmcloud.com/dashboard/boards/ec987cb4-3d6b-4aa1-bb63-9eeca3412eb6" method="get" target="_blank">
      <button type="submit">Watson Service</button>
    </form>
  </body>
  <script>
  // When Armed - Button will be green
  // When Disarmed - Button will be grey/disabled
  $(function(){
    $('#Toggle-One').bootstrapToggle({
      on: 'Armed',
      off: 'Disarmed'
    });
  })
  // Update current status
  $(document).ready(function(){
    $('.toggle').click(function(){
      var current_status = $('.status').text();
      $.ajax({
        url: "/arm_disarm",
        type: "get",
          data: {status: current_status},
            success: function(response) {
              $(".status").html(response);
            },
        error: function(xhr) {
          // Do something to handle error
        }
      });
    });
  });
  </script>
</html>
